**/.DS_Store
**/Thumbs.db

**/.idea/
**/.vscode/
**/*.swp

.git
.github
.gitignore
.dockerignore

**/*.env

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/venv/
**/eggs/

**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
**/htmlcov/

**/*.egg-info/
**/build/
**/dist/

frontend/node_modules/
frontend/dist/
frontend/build/
**/.npm/
**/.eslintcache
