APP_NAME=numeria
ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=debug
ALLOWED_ORIGINS=http://localhost,http://localhost:3000

DB_HOST=pgbouncer
DB_PORT=6432
DB_NAME=numeria_db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_ALGORITHM=RS256
JWT_PUBLIC_KEY_PATH=/app/certs/jwt_public.pem
ACCESS_TOKEN_EXPIRE_MINUTES=60

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_SASL_MECHANISM=SCRAM-SHA-256

S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET_NAME=numeria-bucket
S3_USE_SSL=false