KAFKA_CLIENT_USERS=kafka_client
KAFKA_CLIENT_PASSWORDS=kafka_secure_client_password_here

KAFKA_CLIENT_USER=kafka_client
KAFKA_CLIENT_PASSWORD=kafka_secure_client_password_here

KAFKA_INTER_BROKER_USER=broker_internal
KAFKA_INTER_BROKER_PASSWORD=broker_internal_secure_password