JWT_PRIVATE_KEY_PATH=/app/certs/jwt_private.pem
PASSWORD_HASH_WORK_FACTOR=12

DB_USER=numeria_admin
DB_PASSWORD=your_highly_secure_postgres_password_here

REDIS_PASSWORD=redis_highly_secure_password_here